<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<h1>TV Show: <%= tv.data.name %></h1>
<main>
<% if (tv.data.poster_path) { %>
    <img class="poster" src="https://www.themoviedb.org/t/p/w1280<%= tv.data.poster_path %>" />
<% } else { %>
    <img src="/img/fallback-poster.png" />
<% } %>
<p><%= tv.data.overview %></p>
<h2>Recommendations</h2>
<div class="grid-row">
    <% tv.data.recommendations.results.forEach(function(show) { %>
        <div class="card">
            <a href="/tv/<%= show.id %>">
                <% if (show.poster_path) { %>
                <img src="https://www.themoviedb.org/t/p/w1280<%= show.poster_path %>" />
                <% } else { %>
                <img src="/img/fallback-poster.png" />
                <% } %>
                <p><%= show.original_name %></p>
            </a>
        </div>
        <% }); %>
        </div>
<main>
    
</main>
</html>