<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Search Results For TV Show: <%- searchQuery %> - recTV</title>
    </head>
    <body>
        <header>
            <header>
                <%- include('../../partials/navbar') %>        
            </header>
            
        </header>
        <main class="container">
            <br>
            <h4 class="text-center">Search Results For TV Show: <%- searchQuery %></h4>

            <div class="album py-5 bg-light">
                  
                <div class="row">
                  <% tv.data.results.forEach(function(show) { %>
                    <div class="col-md-3">
                      
                    <div class="card mb-4 shadow-sm">
                        <a href="/tv/<%= show.id %>">
                            <% if (show.poster_path) { %>
                            <img alt=""
                                src="https://www.themoviedb.org/t/p/w1280<%= show.poster_path %>"
                            />
                            <% } else { %>
                            <img alt="" src="/img/fallback-poster.png" />
                            <% } %>
                        </a>
                    </div>
                  
                  </div>
                  <% }); %>
              </div>
      
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer><%- include('../../partials/footer') %></footer>
    </body>
</html>
