<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Search Results For TV Show: <%- searchQuery %> - recTV</title>
    </head>
    <body>
        <header>
            <h1>Search Results For TV Show: <%- searchQuery %></h1>
        </header>
        <main>
            <div class="grid-row">
                <% tv.data.results.forEach(function(show) { %>
                <div class="card">
                    <a href="/tv/<%= show.id %>">
                        <% if (show.poster_path) { %>
                        <img
                            src="https://www.themoviedb.org/t/p/w1280<%= show.poster_path %>"
                        />
                        <% } else { %>
                        <img src="/img/fallback-poster.png" />
                        <% } %>
                        <p><%= show.original_name %></p>
                    </a>
                </div>
                <% }); %>
            </div>
        </main>
        <footer><%- include('../../partials/footer') %></footer>
    </body>
</html>
