<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<h1>Season: <%= tv.data.season_number %></h1>
<main class="season">
<% if (tv.data.poster_path) { %>
    <img class="poster" src="https://www.themoviedb.org/t/p/w1280<%= tv.data.poster_path %>" />
<% } else { %>
    <img src="/img/fallback-poster.png" />
<% } %>
<p><%= tv.data.overview %></p>
<h2>Episodes</h2>
<div class="grid-row">
    <% tv.data.episodes.forEach(function(episode) { %>
        <div class="card">
            <a href="/tv/<%= id %>/season/<%= tv.data.season_number %>/episode/<%= episode.episode_number %>">
                <% if (episode.still_path) { %>
                    <img src="https://www.themoviedb.org/t/p/w1280<%= episode.still_path %>" />
                <% } else { %>
                    <img src="/img/fallback-poster.png" />
                <% } %>
                <p><%= episode.name %></p>
            </a>
        </div>
        <% }); %>
        </div>
<main>
    
</main>
</html>