<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
    <title>Movie: <%= movie.data.original_title %> - recTV</title>
  </head>
  <body>
    <header><%- include('../../partials/navbar') %></header>

    <main >
      <div>
        <% if (movie.data.poster_path) { %>
        <img
          alt=""
          class="poster-main"
          src="https://www.themoviedb.org/t/p/w1280<%= movie.data.poster_path %>"
        />
        <% } else { %>
        <img alt="" src="/img/fallback-poster.png" />
        <% } %>
      </div>

      <div class="container">
        <h5><%= movie.data.original_title %></h5>

        <p><%= movie.data.overview %></p>

        <% if (collection) { %>
        <h4>
          Other Movies in the <%= movie.data.belongs_to_collection.name %>
        </h4>

        <div class="grid-row">
          <%collection.data.parts.forEach(function(part) { %>
          <div class="card">
            <a href="/movie/<%= part.id %>">
              <% if (part.poster_path) { %>
              <img
                alt=""
                src="https://www.themoviedb.org/t/p/w1280<%= part.poster_path %>"
              />
              <% } else { %>
              <img alt="" src="/img/fallback-poster.png" />
              <% } %>
            </a>
          </div>
          <% }); %>
        </div>
        <% } %>
        <h4>
          People Who Liked
          <strong style="color: blue"><%= movie.data.original_title %></strong>
          Also Liked
        </h4>
        <div class="grid-row">
          <% movie.data.recommendations.results.forEach(function(movie) { %>
          <div class="card">
            <a href="/movie/<%= movie.id %>">
              <% if (movie.poster_path) { %>
              <img
                alt=""
                src="https://www.themoviedb.org/t/p/w1280<%= movie.poster_path %>"
              />
              <% } else { %>
              <img alt="" src="/img/fallback-poster.png" />
              <% } %>
            </a>
          </div>
          <% }); %>
        </div>
        <h4>
          People Who Disliked
          <strong><%= movie.data.original_title %></strong> Preferred Instead
        </h4>
        <div class="grid-row">
          <% dislikedRecommendations.forEach(function(movie) { %>
          <div class="card">
            <a href="/movie/<%= movie.id %>">
              <% if (movie.poster_path) { %>
              <img
                alt=""
                src="https://www.themoviedb.org/t/p/w1280<%= movie.poster_path %>"
              />
              <% } else { %>
              <img alt="" src="/img/fallback-poster.png" />
              <% } %>
            </a>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
    <footer><%- include('../../partials/footer') %></footer>
  </body>
</html>
