<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
    <title>Movie Page - recTV</title>
  </head>

  <body>
    <header>
        <%- include('../../partials/navbar') %>
    </header>

    <main>
      <h1>Search Results For Movie: <%- searchQuery %></h1>
      <% movies.data.results.forEach(function(movie) { %>
      <p><%= movie.original_title %></p>
      <% }); %>
    </main>
    <footer><%- include('../../partials/footer') %></footer>
  </body>
</html>
