<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Search Results For Movie: <%- searchQuery %> - recTV</title>
    </head>
    <body>
        <header>
            <h1>Search Results For Movie: <%- searchQuery %></h1>
        </header>
        <main>
            <div class="grid-row">
                <% movies.data.results.forEach(function(movie) { %>
                <div class="card">
                    <a href="/movie/<%= movie.id %>">
                        <% if (movie.poster_path) { %>
                        <img alt=""
                            src="https://www.themoviedb.org/t/p/w1280<%= movie.poster_path %>"
                        />
                        <% } else { %>
                        <img alt="" src="/img/fallback-poster.png" />
                        <% } %>
                        <p><%= movie.original_title %></p>
                    </a>
                </div>
                <% }); %>
            </div>
        </main>
        <br>
        <footer><%- include('../../partials/footer') %></footer>
    </body>
</html>
